
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


:root {
    --bg-2: #585858;
    --bg-1: #ffffff;
    --bg-tag: #e6d6fc;
    --color-tag: #883AE1;
    --color-1: #6C727F
}

* {
    padding: 0;
    margin: 0;
    font-family: "Sora", sans-serif;
}
body {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

section,
section img {
    width: 336px;
    height: fit-content;
    
    border-radius:10px ;
    margin-bottom: 16px;
}

section {
    background-color: var(--bg-1);
    padding: 16px;
    
    
}
section-img {
    margin-bottom: 16px;
}

section .tag {
    
        
        font-size:0.625rem;
        font-weight: 600;
        
    background-color: var(--bg-tag);
    color: var(--color-tag);
    padding: 4px 16px;
    border-radius: 16px;
   
}

section div{
    width: 336px;
    padding: 16px;
}

section h1 {
    
    font-size:1.125rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
}

section p {
   
    font-size:0.875rem;
    margin-bottom: 20px;
    
    
    color: var(--color-1);
}

section .author {
    
    font-size: 0.75rem;
    margin-top: 20px;
    color: var(--color-1);
    
}

section div:nth-child(1) {
   
border-bottom: 1px solid #6C727F;
}